body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid {
    /* width: 500px; */
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.grid-item {
    width: 25%; /* Each item takes up 50% of the parent width */
    padding: 10px;
    box-sizing: border-box;
}

.grid-item  {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border: 2px solid salmon;
    text-align: center;
}

@media (min-width: 600px) {
    .grid-item {
        width: 25%; /* On larger screens, each item takes up 25% */
    }
}
