body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh; /* Full viewport height */
    background-image: url('../hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
